body{
    /* margin: 0; */
    /* padding: 0; */
    justify-items: center;
    background-image: url(images/to-do-list.jpg);
}
.container{
    width: 70%;
    background-color: #97a8a4;
    min-height: 50vh;
    margin: 100px 0 0 0;
    border-radius: 30px;
}
.container > p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
    margin: 10px 0 10px 20px;
}
.inputInfo{
    width: 80%;
    display: grid;
    grid-template-columns: 2.5fr 2.5fr 1fr;
    margin: 0 auto;
}
input::placeholder{font-size: 20px;padding-left: 20px;}
input[type="date"], input[type="text"] {font-size: 20px; padding-left: 20px;}
/* input[type="text"] {font-size: 25px; padding-left: 20px;} */
.inputText, .inputDate{
    width: 95%;
    background-color: #ecedef;
    border-radius: 50px;
    border-width: 0.1rem;
    height: 6vh;
    margin: 0;
    padding: 0;
}
.trigger{
    /* display: inline; */
    /* margin-left: 10p; */
    width: 80%;
    background-color: green;
    border-radius: 20px;
    height: 6vh;
    cursor: pointer;
}
.to-do-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    font-size: 25px;
    margin-top: 20px;
    /* color: aliceblue; */
    font-family: Arial, Helvetica, sans-serif;
}
.js-button{
    background-color: darkred;
    justify-self: end;
    cursor: pointer;
    height: 6vh;
    width: 27%;
    border-radius: 20px;
    margin: 10px 25px 0 20px; 
}
.separation{
    margin-left: 30px;
}