*{
    padding: 0;
    margin: 0;
}
body{
    margin: 0;
    padding: 0;
    justify-items: center;
}
.container{
    width: 50%;
    background-color: rgba(223, 13, 13, 0.055);
    box-shadow: 0 0 5px rgb(238, 236, 235);
    min-height: 30vh;
}
.container > p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
}
.inputInfo{
    display: flex;
}
input::placeholder{font-size: 20px;padding-left: 20px;}
input[type="date"], input[type="text"] {font-size: 20px; padding-left: 20px;}
/* input[type="text"] {font-size: 25px; padding-left: 20px;} */
.inputText{
    width: 85%;
    background-color: white;
    /* border: none; */
    flex-grow: 1;
    outline: none;
    height: 10vh;
}
.trigger{
    width: 50px;
    background-color: white;
    cursor: pointer;
    /* align-items: center; */
}
.to-do-list{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.js-button{
    background-color: white;
    justify-self: end;
    cursor: pointer;
    /* height: 6vh; */
    width: 50px;
    border-radius: 20px;
    float: right;
    /* margin: 10px 25px 0 20px;  */
}
.js-button-1{
    background-color: white;
    justify-self: end;
    cursor: pointer;
    /* height: 6vh; */
    width: 50px;
    border-radius: 20px;
    float: right;
    /* margin: 10px 25px 0 20px;  */
}
.list-item{
    height: 8vh;
    /* border-radius: 1px; */
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
}
.list-item > p{padding-left: 20px; border: 1px; border-width: 20px;}
.clear-all{
    text-align: center;
    cursor: pointer;
}
.dragging {
    cursor: pointer;
    opacity: 0.5;
    transform: scale(0.95);
}
.edit-input{
    height: 8vh;
    flex-grow: 1;
}